<h4>予約の確認</h4>
<thead>
  <tr>
    <th>チェックイン</th>
    <th>チェックアウト</th>
    <th>日数</th>
    <th>人数</th>
    <th>お支払い金額<th>
  </tr>
</thead>

<tbody>
    <tr>
      <td><%= @reservation.checkin %></td>
      <td><%= @reservation.checkout %></td>
    </tr>
</tbody>